<!DOCTYPE html>
<html>
<head>
	<title>To-do List</title>
	<link rel="stylesheet" type="text/css" href="assets/css/todos.css">
	<script type="text/javascript" src="assets/js/lib/jquery-3.2.0.min.js"></script>
</head>
<body>
	<div id="container">
		<h1>To-do List</h1>
		<input type="text" name="">
		<ul>
			<li><span>X</span> Finish one pager</li>
			<li><span>X</span> Go to the gym</li>
			<li><span>X</span> Four-in-a-row</li>
		</ul>
	</div>

<script type="text/javascript" src="assets/js/todos.js"></script>
</body>
</html>

